*.js
!jest.config.js
!load-generation/order-payload-generator.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
tmp/*

**/node_modules

# Java bundles
target/
.aws-sam/

# .DS_Store files
.DS_Store
**/.DS_Store


.idea/